<nav class="pagination is-centered" role="navigation" aria-label="pagination">
    
    <ul class="pagination-list" appClass>
        <li>
            <a class="pagination-previous" 
            [appClass]="{'disabled': currentPage === 0}"
            (click)="currentPage = currentPage - 1"
            >prev</a>
        </li>
        <ng-container *appTimes="images.length; let i = index">
        <li *ngIf="checkWindowIndex(i)"
        >
            <a 
                [appClass]="{'is-current': i === currentPage}" 
                (click)="currentPage = i"
                class="button pagination-link">{{i+1}}
            </a>
        </li>
        </ng-container>
        <li>
            <a class="pagination-next" 
            (click)="currentPage = currentPage + 1"
            [appClass]="{'disabled': currentPage === (images.length - 1 )}"
            >next</a>
        </li>
    </ul>   
</nav>    

<section class="section">
    <div [appClass]="'red'" class="container is-centered is-fluid is-fullwidth">
        <img class="is-fullwidth" [src]="images[currentPage].url" [alt]="images[currentPage].title">
    </div>
</section>
